@font-face {
  font-family: 'droid_sansregular';
  src: url('./fonts/droid/droidsans-webfont.woff2') format('woff2'),
  url('./fonts/droid/droidsans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$font-family-sans-serif: "droid_sansregular" !default;
$font-family-base: "droid_sansregular" !default;

@import "../../node_modules/bootstrap/scss/bootstrap";

.container {
  border: 1px solid #D1D1D1;
  border-top: 2px solid #007672;
  padding: 20px;
}
#navbar {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  color: #999999;
}
#main-heading {
  margin-bottom: 16px;
  text-align: left;
  font-weight: bold;
}

#team-div {
  display: flex;
  width: 100%;

  justify-content: flex-start;
  flex-wrap: wrap;
}

.team-block {
  display: flex;
  //width: 50%;
  height: 72px;
  padding: 16px 0 16px 10px;
  justify-content: flex-start;
}

@media (min-width : 320px) and (max-width: 768px),
(min-width : 1300px) and (max-width: 1900px) {
  #team-div {
    flex-wrap:nowrap;
    flex-direction: column;
  }
  .team-block {
    width: 100%;
    height: 60px;
    padding: 10px 0 10px 10px;
  }
  #team-page-span {
    display: none
  }
}

@media (min-width : 768px) and (max-width: 1300px), (min-width: 1900px) {
  #team-div {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .team-block {
    width: 50%;
    height: 72px;
    padding: 16px 10px 16px 10px;
  }
}

#avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.round-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #E2F4EA;
  margin-left: 10px;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: #007672;
  border: 0;
  font-size: 25px;
}

#avatar-text {
  width: 80%;
  height: 40px;
  margin-left: 10px;
  p {
    margin: 0;
    text-align: left;
    height: 20px;
  }
}

#show-all-div {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #E2F4EA;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.decorator {
  color: #FFA03E;
}

#team-page-link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;
  padding: 0;
  margin: 0;
  span{
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-right: 5px;
  }
}